.Referencemain {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    height: 100%;
    margin: 2rem;
    }

.columnref {
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 0 50px rgb(90, 89, 89);
}

.refheader {
    font-family: 'WELTRON2';
    text-align: center;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 10px rgb(104, 104, 104);
}

.ul-ref {
    font-family: 'PRIMER';
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    line-height: 1.34;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 10px rgb(104, 104, 104);
}